{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>よりシンプルな生活のために。</h1>
            <p>時は金なり。人生に使える時間は限られています。何をして何をしないのか、<u>what</u>を決めるためにこの<b><i>Todo App</i></b>は生まれました。このアプリを通して皆が自分の本当にすべきことに向き合え、集中し、目標を達成されることを願っています。</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
